body {
  font-family: "Roboto", sans-serif;
  background-color: #849d8f;
  /*background-image: url(../gllacy-index.jpg);*/
  margin: 10px 30px;
  color: white;
}

.container {
  width: 1180px;
/*  position: relative;*/
  padding: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  color: white;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  text-decoration: none;
}

.button.red-button {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 20px;
  font-weight: bold;
  padding: 0 5%;
  height: 44px;

}

.button.red-button:hover,
.button.red-button:focus {
  box-shadow: 0px px 2px 0 #ac1000;
  background-image: linear-gradient(to top, #e74a35, #f26843), linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}

.button.gray-button:hover,
.button.gray-button:focus {
  background-color: #f8f7f4;
  color: black;
}

/*------header-----------------------------------------------------header--*/
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  margin-right: 20px;
}

.main-navigation {
  padding-top: 16px;
}

.main-navigation-item {
  margin-right: 28px;
  position: relative;
}

.main-navigation-item:hover > a,
.main-navigation-item:focus > a  {
  display: inline-block;
  border-radius: 20px;
  background-color: #f8f7f4;
  color: black;
}

.main-navigation-item > a {
  color: white;
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  padding: 0 13px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-navigation-item .submenu {
  display: none;
}

.main-navigation-item:hover .submenu,
.main-navigation-item:focus .submenu {
  display: table;
  margin-top: 5px;
  border-collapse: collapse;
  border-radius: 5px;
  background-color: #f8f7f4;
  padding: 21px;
  color: black;
}

.submenu li:hover,
.submenu li:focus {
  background-color: #fbded8;
}

.submenu li:active {
  background-color: #f6b5a5 ;
}

.submenu li a:active{
  background-color: #d07058;
}

.submenu li:first-child:hover,
.submenu li:first-child:focus {
  border-radius: 5px 5px 0 0;
}

.submenu li:last-child:hover,
.submenu li:last-child:focus {
  border-radius: 0 0 5px 5px;
}


.submenu li:first-child {
  font-weight: bold;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
}

.submenu a {
  color: black;
  text-decoration: none;
  margin: 0 20px;
  line-height: 28px;
  font-size: 14px;
}

.user-menu {
  padding-top: 14px;
}

.user-menu .button {
  padding-right: 17px;
  padding-left: 45px;
  font-size: 14px;
  line-height: 33px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: 16px 50%;
  border-radius: 15px;
  margin-left: 10px;
}

.user-menu .find-button {
  padding: 0;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-image: url(../img/icon-find.svg);
  background-position: 8px 8px;
}

.find-button:hover,
.find-button:focus {
  background-image: url(../img/icon-find-hover.svg);
}

.user-menu .login-button {
  background-image: url(../img/icon-login.svg);
  background-position: 16px 50%;
}

.login-button:hover
.login-button:focus {
  background-image: url(../img/icon-login-hover.svg);
  background-position: 16px 50%;
}

.user-menu .basket-button {
  background-image: url(../img/icon-basket-empty.svg);
  background-position: 16px 50%;
}

.work-time {
  right: 15px;
  top: 50px;/* !!!!!!!!!!!!!!!!!!!!!text style*/
}

.tel { /* Doesn't work!!!!!!!!!!!!!!!!!!!!!!1 */
  color: white;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}


/*-----------------header-forms---------------------------------------------*/

.header-form {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f8f7f4;
  line-height: 44px;
  font-size: 14px;
}

.header-form input,
.header-form textarea {
  box-sizing: border-box;
  line-height: 44px;
  font-size: 14px;
  padding-left: 15px;
}


.header-form .button {
  height: 44px;
  font-size: 18px;
}

.login-form {
  width: 277px;
  padding: 20px 17px 22px 19px;
}

.login-form .email {
  width: 241px;
}

.login-form .password {
  margin-top: 20px;
  width: 241px;
}

.login-form a {
  color: black;
  font-size: 13px;
  text-decoration: underline;
}

.login-form .button {
  margin-top: 20px;
  width: 100px;
  margin-right: 20px;
}

.find-form {
  width: 341px;
  padding: 20px 15px;
}

.find-form input {
  width: 311px;
  padding-left: 15px;
}

.feedback-form {
  width: 478px;
  padding: 20px 26px 27px 24px;
  position: relative;
}

.feedback-form h3 {
  color: black;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.feedback-form .close-form-button {
  position: absolute;
  right: 26px;
  display: block;
  width: 18px;
  height: 17px;
  background-image: url(../img/btn-cross-small.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}

.feedback-form input {
  width: 267px;
  margin-top: 20px;
}


.feedback-form textarea {
  width: 428px;
  height: 155px;
}

.basket-form {
  width: 540px;
  height: 242px;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  padding: 20px 16px;
  
}

.basket-table-row h3 {
  font-weight: normal;
  font-size: 13px;
  padding: 0;
  margin: 0;
}

.basket-table span {
  color: #999999;
}

.basket-table {
  border-collapse: collapse;
}

.basket-table-caption {
  font-size: 15px;
  font-weight: bold;
}

caption h3 {
  font-size: 15px;
}

.basket-table-row {
  valign: top;
  padding-bottom: 20px;
}

.basket-table-row td:nth-child(1) {
  width: 27px;
}

.basket-table-row td:nth-child(2) {
  width: 47px;
}

.basket-table-row td:nth-child(3) {
  width: 216px;
}

.basket-table-row td:nth-child(4) {
  width: 124px;
  text-align: right;
}

.basket-table-row td:nth-child(5) {
  width: 78px;
  text-align: right;
}


.basket-table .remove-button { /* The style is wrong!!!!!!!!!!!!!!!!!*/
  width: 11px;
  height: 11px;
  line-height: 0;
  font-size: 0;
  background-image: url(../img/btn-cross-small.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}
/*----------------------------header-forms-end-------------------------*/

/*----------header end-----------------------------------------------------*/

/*----------special offer---------------------------------------------------*/
.special-offer .slider-list {
  list-style: none;
}

.slider-item h3 {
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  width: 665px;
}

.slider-item .button {
  font-size: 32px;
  line-height: 64px;
  font-weight: bold;
  height: 64px;
 }

.slider-switcher {
}

.slider-switcher .button {
  display: block;
  border: 3px solid white;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  background-color: transparent;

}

.slider .current-slide {
  background-color: white;
}

/*----------double-offer end---------------------------------------------------*/

/*----------bonus-offer---------------------------------------------------*/
.bonus-offer {
  position: relative;
  z-index: 7;
}

.bonus-offer li {
 box-sizing: border-box;
 display: block;
 width: 560px;
 height: 229px;
 border-radius: 20px;
 padding: 20px;
}

.bonus-offer-item1  {
 background-color: #8E1730;
 background-image: url(../img/bg-raspberries.jpg);
}

.bonus-offer-item2 {
 background-color: #5E3A29;
 background-image: url(../img/bg-chocolate.jpg);
 }

.bonus-offer h3 {
 font-size: 35px;
 font-weight: bold;
 margin: 0;

}

.bonus-offer p {
 font-size: 18px;
 font-weight: bold;
}

.bonus-offer .button {
 margin: 20px;
 line-height: 45px;
 float: right;
 }

/*----------bonus-offer-end--------------------------------------------------*/

/*----------hits offer---------------------------------------------------*/
.catalog .is-hit{
  display: block;
  width: 61px;
  height: 61px;
  background-image: url(../img/mark-hit.svg);
  background-repeat: no-repeat;
}

.catalog img {
 border-radius: 50%;
}

 .catalog-item {
   display: inline-block;
   margin-right: 25px;
 }

 .catalog h3 {
   width: 250px;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
 }

 .catalog .button {
   line-height: 44px;
 }
/*----------hits offer end---------------------------------------------------*/

/*----------features---------------------------------------------------*/
.features {
  display: block;
  color: black;
  width: 1110px;
  background-image: url(../img/bg-wafer.jpg);
  background-color: #EBDFC3;
  border-radius: 30px;
  padding: 20px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features h3 {
  width: 1115px;
  font-size: 24px;
  margin: 0;
  line-height: 1.25;
  padding: 0;
}

.features p {
  width: 475px;
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  padding: 0 0 0 50px;
  margin: 28px 0 0 0;
}

.features-item {
  margin-right: 0;
  position: relative;
}

.features-item:before {
  position: absolute;
  display: block;
  content: "";
  width: 49px;
  height: 49px;
}

.eco-standarts:before {
  background-image: url(../img/icon-leaf.svg);
}

.high-quality:before {
  background-image: url(../img/icon-cow.svg);
}

.features-item.we-owners:before {
  background-image: url(../img/icon-ice-cream.svg);
}

.features-item.preservation:before {
  background-image: url(../img/icon-thermometer.svg);
}
/*----------features end---------------------------------------------------*/

/*----------news-subscription---------------------------------------------------*/
.news-subscription {
  width: 1150px;
  color: black;
}

.blog-news {
  display: block;

  width: 520px;
  height: 180px;
  padding: 20px;
  background-color: white;
  background-image: url(../img/bg-blog-news.jpg);
  border-radius: 20px;
}

.blog-news h3 {
  text-decoration: underline;
  width: 280px;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  text-align: left;
}

.blog-news h2 {
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
 }

.subscription {
  box-sizing: border-box;;
  display: block;
  padding-top: 5px;
  width: 560px;
  height: 220px;
  background-image: url(../img/bg-post-pattern.svg);
  }

.subscription .form{
  display: block;
  box-sizing: border-box;
  border-radius: 20px;
  width: 549px;
  height: 211px;
  margin: 0 auto;
  margin-top: 5px;
  background-color: white;
  padding: 20px
}

/*----------news-subscription-end---------------------------------------------------*/

/*----------contacts---------------------------------------------------*/


.contacts-card {
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 20px;
  width: 302px;
  height: 305px;
  background-color: white;
  border-radius: 20px;
  padding: 32px 25px;
}

.contacts-item1 {
  margin: 0;
  width: 148px;
}

.contacts-working-time {
  margin: 0;
}

.contacts-item2 {
  margin-bottom: 0;
}

.contacts-address,
.contacts-tel {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  width: 220px;
  color: black;
  text-decoration: none;
}

.contacts-card .button {
  line-height: 45px;
  font-size: 18px;
  padding: 0 28px;
  margin-top: 26px;
}

 .contacts .map {
   padding: 0;
 }
/*----------contacts-end---------------------------------------------------end---------------------------------------------------*/

/*----------footer---------------------------------------------------         ---------------------------------------------------*/
footer a {
  color: white;
}

footer .social-list {
  list-style: none;
}

footer .button {
  width: 38px;
  height: 38px;
  opacity: 0.5;
}

footer .social{
  display: block;
}

footer .tw {
  background-image: url(../img/icon-tw.svg);
  background-repeat: no-repeat;
}

footer .insta {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
}

footer .fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
}

footer .vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
}

footer .about-us-list {
  list-style: none;
}

.for-suppliers:after {
  position: absolute;
  left: 400px;
  top: -10px;
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-heart.svg);
}
/*----------footer-end--------------------------------------------------         ---------------------------------------------------*/
