/*-----------------------page grid----------------------------------*/
/*body > * > * > * > *  {
  background: rgba(255, 0, 0, 0.3);
 }
*/
/*
.container {
 background: rgba(0, 0, 255,0.3);
}
*/
/*
.pixelperfect.index-page {
  margin: 0 auto;
  padding: 0;
  background-image: url(../gllacy-index.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1200px;

}
*/
/*
.pixelperfect.gllacy-catalog {
  margin: 0 auto;
  padding: 0;
  background-image: url(../gllacy-catalog.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1200px;
}
*/
/*-----------------------page grid-end---------------------------------*/
