/*-----------------------page grid----------------------------------*/
/*body > * > * > * > *  {
  background: rgba(255, 0, 0, 0.3);
 }
*/
/*
.container {
 background: rgba(0, 0, 255,0.3);
}
*/
/*
.pixelperfect.index-page {
  margin: 0 auto;
  padding: 0;
  background-image: url(../gllacy-index.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1200px;

}
*/
/*
.pixelperfect.gllacy-catalog {
  margin: 0 auto;
  padding: 0;
  background-image: url(../gllacy-catalog.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1200px;
}
*/
/*-----------------------page grid-end---------------------------------*/
<section class="modal forms">
  <form class="feedback-form header-form" action="https://echo.htmlacademy.ru" method="post">
    <h2 class="visually-hidden">Обратная связь</h2>
    <h3>Мы обязательно вам ответим!</h3>
    <label class="visually-hidden" for="name">Как Вас зовут?</label>
    <input class="name" type="text" id="name" placeholder="Как вас зовут?" name="name" required>
    <label class="visually-hidden" for="email">Ваша почта для ответа?</label>
    <input class="email" type="email" id="email" placeholder="Ваша почта для ответа?" name="email" required>
    <label class="visually-hidden" for="message">Напишите что-нибудь...</label>
    <textarea class="message" id="message" placeholder="Напишите что-нибудь..." name="message" required></textarea>
    <button class="button red-button submit" type="submit">Отправить</button>
    <label class="visually-hidden" for="close-form-button">Закрыть окно</label>
    <button class="button modal-close" type="button" id="close-form-button"></button>
  </form>
</section>
</div>
